fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pydantic==2.12.5
pydantic-settings
python-dotenv

# NLP
konlpy
regex

# PDF 처리
pdfminer.six
pdf2image
pillow

# OCR
pytesseract
google-cloud-vision
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai


# string similarity
python-Levenshtein

# HTTP async
aiohttp
